.container-shop{
    margin-top: 150px;
}

.cart{
    margin-top: 10px;
    border: 0rem;
}

.cart-title{
    margin-top: 70px;
    text-align: center;
    color: #04494d;
}

.cart-product-img{
width: 56px;
height: 56px;
margin-left: 1px;
}

.card-shop-title{
    text-align: center;
    color: aliceblue;
   background-color: #03a1a8;
}

.card-shop-btn{
    text-align: center;
}

